<div class="ma_back">	
	<div class="row">
		<div class="large-6 large-offset-3 columns ma_head">
			<h1>CTJ Madrichim</h1>
		</div>
	</div>
	<div class="row">
		<div class="large-12 colums">
			<div class="large-6 columns">
				placeholder
			</div>
			<div class="large-6 columns">
				<div class="row">
					<h2>Welcome!</h2>
				</div>
				<p class="row">
					This site is for CTJ madrichim and teachers to  more submit all necessary forms for the Madrichim Coordinator.  This site was designed and developed by Emilia Kubo Kirschenbaum.
				</p>
			</div>
		</div>
	</div>
</div>