<%= form_for :teen_new_app_form, url: {action: "create"} do |f| %>
  <div class="row">
    
  </div>
  <div class="row">
    <%= f.submit "Submit Application", :class => "small button" %>
  </div>
<% end %>