.ma_login{
	font-family: 'Jacques Francois', serif;
	font-size: 20px;
	text-align: center;
}
.ma_signin{
	margin-bottom: 15px;
}
.ma_reset{
	margin-bottom: 15px;
}
.hide-text{
	display:none;
}
.ma_label{
	text-align: left;
}
.ma_welcome{
	text-align: center;
	text-size: 30px;
	font-family: 'Glass Antiqua', cursive;
}
.ma_weltext{
	font-family: 'Jacques Francois', serif;
	font-size: 20px;
	text-align: center;
}
.ma_design{
	text-align: center;
	font-family: 'Jacques Francois', serif;
	font-size: 10px;
}