.ma_back{
	border: solid 2px #00d0ff;
}

.ma_head{
	font-family: 'Goblin One', cursive;
	border: solid 3px #ff5100;
	margin: 10px;
	text-align: center;
	font-size: 40px;
	color: #001cff;
	background-color: #fff;
}
.heb{
	direction:rtl;
}
.ma_greet{
	font-size: 40px;
	text-align: center;
	font-family: 'Goblin', cursive;
}